flask
PyPDF2
scikit-learn
numpy
python-dotenv
fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
aiofiles
jinja2
pytest
httpx2
python-multipart
openai
sentence-transformers
faiss-cpu
pytesseract
pdf2image
PyMuPDF
Pillow
